In [291]:
import numpy as np
import random
import tensorflow as tf
#import tensorflow.compat.v1 as tf
#tf.disable_v2_behavior() 
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import keras

In [292]:
np.random.seed(777)

In [293]:
df=pd.read_csv('d_final_mehico.csv')
df.head()

,id,sex,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,...,tobacco,contact_other_covid,covid_res,icu,DEATH,d_ent,d_sym,d_last,diff_days,age_grp
0,167386,1,2,2,54,2,2,2,2,2,...,2,3,1,2,0,2020-04-06,2020-04-01,2020-06-29,89,3.0
1,0b5948,2,2,1,30,2,2,2,2,2,...,2,3,1,2,0,2020-04-17,2020-04-10,2020-06-29,80,2.0
2,0d01b5,1,2,2,60,2,1,2,2,2,...,2,3,1,2,1,2020-04-13,2020-04-13,2020-04-22,9,4.0
3,1beec8,2,2,1,47,2,1,2,2,2,...,2,3,1,1,1,2020-04-16,2020-04-16,2020-04-29,13,3.0
4,1.75E+56,2,2,2,63,2,2,2,2,2,...,2,3,1,2,0,2020-04-22,2020-04-13,2020-06-29,77,4.0

In [294]:
# 생존자 제거
freq = df['DEATH'].value_counts()
print(freq)

0    88993
1    32402
Name: DEATH, dtype: int64

In [295]:
survive = df[df['DEATH']==0].index
df1 = df.drop(survive)

In [296]:
df1.head()

,id,sex,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,...,tobacco,contact_other_covid,covid_res,icu,DEATH,d_ent,d_sym,d_last,diff_days,age_grp
2,0d01b5,1,2,2,60,2,1,2,2,2,...,2,3,1,2,1,2020-04-13,2020-04-13,2020-04-22,9,4.0
3,1beec8,2,2,1,47,2,1,2,2,2,...,2,3,1,1,1,2020-04-16,2020-04-16,2020-04-29,13,3.0
12,17394f,2,2,1,77,2,2,2,2,2,...,2,3,1,2,1,2020-04-27,2020-04-27,2020-04-28,1,4.0
14,006ddc,1,2,1,53,2,1,2,2,2,...,2,3,1,2,1,2020-04-26,2020-04-23,2020-04-26,3,3.0
16,1277f2,2,2,1,77,2,2,1,2,2,...,1,3,1,2,1,2020-03-31,2020-03-27,2020-04-07,11,4.0

In [297]:
print(df1.shape)

(32402, 25)

In [298]:
# 데이터 분리
features = df1[['sex', 'intubed','pneumonia','age_grp','pregnancy', 'diabetes', 
                 'copd', 'asthma','inmsupr','hypertension','other_disease',
                 'cardiovascular','obesity', 'renal_chronic', 'tobacco', 
                 'contact_other_covid', 'covid_res', 'icu']].astype(int)

label = df1['diff_days']

'\nSequential 모형 클래스 객체 생성\nadd 메서드로 레이어 추가\ncompile메서드로 레이어 추가\nfit메서드로 트레이닝\n'

In [312]:
# train/test 셋 분리
x_train, x_test, target_train, target_test = train_test_split(x_train_raw, label, test_size=0.2)

In [313]:
print(x_train.shape, x_test.shape, target_train.shape, target_test.shape)

(25921, 18) (6481, 18) (25921,) (6481,)

In [314]:
dataset = tf.data.Dataset.from_tensor_slices((x_train.values, target_train.values))

random.seed(777)

In [395]:
tf.model = tf.keras.Sequential()

In [396]:
tf.model.add(tf.keras.layers.Dense(units=200, activation='relu', kernel_initializer='glorot_normal'))

In [397]:
tf.model.add(tf.keras.layers.Dense(units=100, activation='sigmoid', kernel_initializer='glorot_normal')))

In [398]:
tf.model.add(tf.keras.layers.Dense(units=1, kernel_initializer='glorot_normal'))

In [399]:
tf.model.compile(loss="mse", optimizer="adam", metrics=["accuracy"])

In [400]:
tf.model.fit(dataset)

WARNING:tensorflow:Expected a shuffled dataset but input dataset `x` is not shuffled. Please invoke `shuffle()` on input dataset.
Train on 25921 steps
25921/25921 [==============================] - 34s 1ms/step - loss: 56.0542 - acc: 0.0246

In [ ]:
# loss: 56.0542 & acc: 0.0246
# loss 값은 약 56